<p>
    <mat-toolbar class="header">
      <button mat-icon-button class="example-icon arrow_back_ios-icon" routerLink="/principal">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span>Reporte</span>

    </mat-toolbar>
  </p>
 <mat-form-field >
    <mat-label>Nombre del Producto</mat-label>
    <mat-select (selectionChange)="productoFiltro($event.value)">
      <mat-option value="0">ID.Producto</mat-option>
      <mat-option *ngFor="let producto of nombreProductos" value="{{producto.id}}" >{{producto.id}}.{{producto.nombre}}</mat-option>
    </mat-select>
</mat-form-field>



  <div class="table-responsive">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Fecha de Ingreso</th>
        <th scope="col">Nro. clicks</th>
        <th scope="col">Pais</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let info of data |keyvalue |slice:desde:hasta " >
        <td>{{info.value.id_producto}}</td>
        <td>{{info.value.usuario.firstName}} {{info.value.usuario.lastName}}</td>
        <td>{{info.value.ciudad}}</td>
        <td>{{info.value.fechaIngreso | date}}</td>
        <td>{{info.value.timesClicked}}</td>
        <td>{{info.value.pais}}</td>
      </tr>

    </tbody>
  </table>
  </div>

<mat-paginator [length]="cantidadDatos" [pageSize]="pageSize" aria-label="Select page" (page)="cambiarPagina($event)" >
</mat-paginator>
