@media only screen and (max-width: 640px){
    #sobreMi, #conocimientos{
      display: grid;
      grid-template-columns: 100%;
    }
    #sobreMi #img{
      display: block;
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .conocimientosTabla, .hobbiesTabla{
      padding: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #conocimientos .img-conoc{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #miciudad .contenedor-img-ciudad{
      display: none;
    }
    #miciudad{
        display: grid;
        grid-template-areas: "fila11" "fila12";
    }
    iframe{
        grid-area: fila12;
    }
  }