*{
  /*font-family: Helvetica Neue,Helvetica,Arial,sans-serif;*/
  font-family: 'Noto Sans', sans-serif;
}
header{
  /*background-color:#22404a;*/
  background-image: radial-gradient(circle, #3e5a72, #375063, #314654, #2b3c46, #263239);
  color: white;
}
header a{
  color: white;
}
#menu {
  padding-top: 1%;
  padding-bottom: 1%;
  position: sticky;
  top: 0px;

}
#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#menu li {
  list-style-type: none;
}

html, body {
  height: 100%;
  width: 100%;
}

section img{
  display: inline-block;
}
#sobreMi, #video, #miciudad{
  background-image: linear-gradient(to bottom, #395874, #4d6b83, #627e93, #7892a3, #8fa6b3);
  color: white;
}
#conocimientos, #proyectos{
  background-image: linear-gradient(to top, #395874, #4d6b83, #627e93, #7892a3, #8fa6b3);
}
#sobreMi{
  margin: 0px!important;
  min-height: 5rem;
  padding: 1%;
}
#sobreMi h3{
  color:#365b77;
  display:inline;
}
#sobreMi #fotoPerfil{
  max-width: 20%;
  margin: 0 auto;
  display: block;
}
#conocimientos{
  margin: 0; 
  color: white;}


#video{
  color:#365b77;
}
section{
  padding: 30px;
}


#proyectos{
  color: white;
}
#proyectos table, th, td {
  border: 1px solid;
  margin: 0 auto;
}

#proyectos table{
  position: center;
  border-radius: 4px;
}

#miciudad{

}

#contacto{
  background-color:black;
  color: white;
}

button {
  color: white;
  background-color: #292D3E;
  border: 1px solid #395874;
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;

  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}
button:hover{
  background: #395874 radial-gradient(circle, transparent 1%, #395874 1%)
   center/15000%;
  color: white;
}

button:active{
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}
input{
  width: 300px;
}