.todo{
    background-color:  #F6F6E9;   
    height: 180%;
    justify-content: center;
    align-items: center;  
}
#metRest{
     position: fixed; bottom:0; 
}
#btnVer{
    background-color: #C8DEC9;
}
mat-toolbar {
    background-color: #03989E;
    color:white;
}
mat-icon{
    color: white;
}
mat-card-title{
    margin-top: 11px;
    text-align: center;
}
mat-card-subtitle{
    text-align: center;
    font-size: 150%;
}
.header{
    display: flex;
}
#btnRep{
    background-color: #7a9596;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 30%;
    color: white;
}
#user{
    size: 200%;
}
p { margin:0 }
.btn-block{
    background-color: #039E56;
    color: white;
}
mat-card-title{
    text-align: center;
    font-size: 120%;
}