body{
    background-color: red;
}
mat-toolbar {
    background-color: #03989E;
    color:white;
}
mat-card-title{
    margin-top: 11px;
    text-align: center;
}
mat-card-subtitle{
    text-align: center;
}

.user{
    text-align: right;
    margin-right: 20px;
}
#user{
    size: 200%;
}
p { margin:0 }
.btn-block{
    background-color: #039E56;
}
mat-card-title{
    text-align: center;
    font-size: 120%;
}