<p>
    <mat-toolbar class="header">
      <button mat-icon-button class="example-icon arrow_back_ios-icon" routerLink="/inicio">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span>Catálogo de productos</span>
      
    </mat-toolbar>
  </p>
  <div class="user">
    <img src="assets/imagenes/user.svg" id="user" routerLink="/perfil">
    <p id="perfil">Perfil</p>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Categoría</mat-label>
    <mat-select >
      <mat-option value="option1">Hogar</mat-option>
      <mat-option value="option2" >Juguetes</mat-option>
      <mat-option value="option2" >Electrodomésticos</mat-option>
      <mat-option value="option3">Aseo</mat-option>
    </mat-select>
  </mat-form-field>
<mat-grid-list cols="2" [gutterSize]="'30px'">
    <mat-grid-tile>
  <mat-card class="example-card">
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="example-card">
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="example-card">
    <img mat-card-md-image src="#" >
    <mat-card-title-group>
      <mat-card-title>nombre</mat-card-title>
      <mat-card-subtitle>precio</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-md-image src="#" >
      <mat-card-title-group>
        <mat-card-title>nombre</mat-card-title>
        <mat-card-subtitle>precio</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-md-image src="#" >
      <mat-card-title-group>
        <mat-card-title>nombre</mat-card-title>
        <mat-card-subtitle>precio</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-md-image src="#" >
      <mat-card-title-group>
        <mat-card-title>nombre</mat-card-title>
        <mat-card-subtitle>precio</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-md-image src="#" >
      <mat-card-title-group>
        <mat-card-title>nombre</mat-card-title>
        <mat-card-subtitle>precio</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-md-image src="#" >
      <mat-card-title-group>
        <mat-card-title>nombre</mat-card-title>
        <mat-card-subtitle>precio</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button>Componentes API REST</button>
