<p>
    <mat-toolbar class="header">
      <button mat-icon-button class="example-icon arrow_back_ios-icon" routerLink="/principal">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span>Perfil</span>
      
    </mat-toolbar>
  </p>
<div class="padre">
    <div class="info">
    <p><u>Alan Barco Gaspar</u><br><i>Nombre completo</i></p>
    <p><u>alanbarco.gaspar@gmail.com</u><br><i>Correo electrónico</i></p>
    <p><u>Guayas</u><br><i>Provincia</i></p>
    <p><u>{{fecha}}</u><br><i>Fecha en la que se unió</i></p> 
</div>
    <div id="img">
        <img id="fotoPerfil" src="assets/imagenes/fotoPerfil.jpg" alt="Foto de perfil">
    </div>
</div>
<img src="assets\imagenes\icon.png" class="iconapp" alt="imagen" height="200px">